body {
  background: radial-gradient(circle at center, #001f3f 0%, #00131f 100%);
  color: white;
  font-family: 'Arial', sans-serif;
}

.App .title {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(48, 47, 47, 0.5);
  color: rgba(128, 122, 122, 0.5);
}

.App .subtitle {
  font-size: 24px;
  margin-bottom: 20px;
  color: rgba(128, 122, 122, 0.5);
  text-shadow: 2px 2px 10px rgba(48, 47, 47, 0.5);
}

.selection-label {
  color: #ffcc00; /* Bright yellow color */
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 1px 1px 5px rgba(255, 255, 100, 0.8); /* Glowing effect */
}
.score {
  color: #00ffff; /* Bright cyan for the score */
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-shadow: 1px 1px 5px rgba(0, 255, 255, 0.8); /* Cyan glowing effect */
}

.category-button,
.difficulty-button {
  width: 200px;
  font-size: 20px;
  border-radius: 50px;
  
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.category-button:hover,
.difficulty-button:hover {
  box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.3);
}

.start-button {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 50px;
  background-color: #ffcc00; /* Bright yellow button */
  box-shadow: 0px 5px 15px rgba(255, 255, 100, 0.4);
}

.start-button:hover {
  background-color: #ffdd33; /* Slightly lighter yellow for hover */
  box-shadow: 0px 5px 15px rgba(255, 255, 150, 0.6);
}

.question-card {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.answer-button {
  width: 100%;
  padding: 20px;
  margin: 5px;
  font-size: 18px;
  border-radius: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.answer-button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 20px rgba(0, 255, 255, 0.8);
}

.next-question-button {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: white;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.quiz-container {
  max-width: 800px;
  margin: auto;
  padding-top: 50px;
}

.score-area {
  font-size: 24px;
}
